html, body {
    margin: 0;
    height: 100%;
}

body{
    background-color: lightcyan;
}

.container{
    display: flex;
    flex-flow: column;
    flex: 0 1 auto;
    width: 100%;
    overflow-x: hidden;

}

.content-container{
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    width: 90%;
    min-height: 100vh;
    background-color: #ffffff;
    justify-content: space-around;
    margin: 25px auto;


}

.users{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    flex-flow: column;
    margin: 0px auto;
    height: 100%;
}

.users-list{
    width: 90%;
    border: 1px solid violet;
    padding: 10px;
    margin: 0px auto;
}

.album-container{
    display: flex;
    flex-flow: column;
    flex: 0 1 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.photos-container{
    display: flex;
    flex-flow: column;
    flex: 0 1 auto;
    width: 90%;
    justify-content: space-around;
    margin: 0px auto;
}
.photos{
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
    width: 99%;
    justify-content: space-around;
}